
NEWS_API_KEY= # API Key from api.worldnewsapi.com
NEWS_LIMIT_RESULTS= # Number of results that are gonna be printed on the news section.

WEATHER_API_KEY= # API Key from www.meteosource.com
WEATHER_LOCATION= # Location ID from www.meteosource.com

EPHEMERIDES_WORDS_FILTERED= # Words filtered from Ephemerides module
EPHEMERIDES_LIMIT_RESULTS= # Number limit of result from Ephemerides module

CALENDAR_CALDAV_URL= # CalDAV at which the Calendar module will be connected
CALENDAR_CALDAV_USERNAME= # CaLDAV Username
CALENDAR_CALDAV_PASSWORD= # CalDAV Password

TASKS_TODOIST_BEARER_KEY= # Key to connect to todoist

CACHING_TIME= #Time of caching the results, in seconds.
LOG_LEVEL=debug